<h2>Edit Comment</h2>

<%= form_for [@post,@comment] do |f| %>
  <%= f.label :subject %>
  <%= f.text_field :subject %>

  <%= f.label :content%>
  <%= f.text_area :content, size: "90x12" %>

  <%= f.submit %>
<% end %>

<%= form_for [@post,@comment], method: :delete do |f| %>
  <%= f.submit "Delete!", class: "delete" %>
<% end %>
